# ===================================================================
# DM JHipster Sample Spring Cloud Config.
# ===================================================================

# Property used on app startup to check the config server status
configserver:
    name: DM JHipster Registry config server
    status: Connected to the JHipster Registry config server, using https://github.com/datamanagementitalia/jhipster !

# Default JWT secret token (to be changed in production!)
jhipster:
    security:
        authentication:
            jwt:
                secret: bXktc2VjcmV0LXRva2VuLXRvLWNoYW5nZS1pbi1wcm9kdWN0aW9uLWFuZC10by1rZWVwLWluLWEtc2VjdXJlLXBsYWNl
    logging:
        logstash:
            enabled: true
            #host: 10.10.252.54
            #port: 5000
            #queueSize: 512
    metrics:
        logs:
            enabled: true
            reportFrequency: 60 # seconds
# DM 
dm:
    logging:
        logpath: /app/log/
        logstash:
            enabled: true
            #host: 10.10.252.54        SOSPESO PER DEBUG LOGSTASH-FILEBEAT
            #port: 5000
            queueSize: 512
            monitoringhost: 10.10.252.54
            monitoringport: 5000
            monitoringkey: Message-ID
            monitoringqueueSize: 512
    resilienza:
        tempo_attesa: 5000 #in millisecondi
        massimo_tentativi: 2
  
# DM - Rabbit Config
spring:
    rabbitmq:
        host: 10.10.252.54
        port: 5672
        password: guest
        username: guest
        listener:
            simple:
                acknowledge-mode: manual
                prefetch: 1
    datasource:                     #mcsmaildownload
        type: com.zaxxer.hikari.HikariDataSource
        url: jdbc:oracle:thin:@//192.168.227.132:1521/ORCL.DMPA.ITA
        username: DM_CONDIV_ENTI_PAL
        password: cui2010
        auto-commit: false
        hikari:
            auto-commit: false
#mcsmaildownload            
procedimenti:
    datasource:
        type: com.zaxxer.hikari.HikariDataSource
        url: jdbc:oracle:thin:@//192.168.227.132:1521/ORCL.DMPA.ITA
        username: DM_PAL_PROCEDIMENTI
        password: cui2010
        driver-class-name: oracle.jdbc.OracleDriver
        auto-commit: false
        hikari:
            auto-commit: false
mailgw:
    datasource:
        driverClassName: oracle.jdbc.OracleDriver
        url: jdbc:oracle:thin:@10.10.252.210:1521:xe
        username: dm_pal_sportelli
        password: password  
        auto-commit: false
        hikari:
           auto-commit: false
        type: com.zaxxer.hikari.HikariDataSource
